.lets_work-section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 14px;
    padding-top: var(--top-bar-size-adjust);
}

.lets_work-title {
    margin-bottom: 5%;
    text-align: center;
}

.lets_work-legend {
    text-align: center;
    margin-bottom: 15%;
    color: var(--electric-blue);
}

.lets_work-form_area {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-items: start;
}


.lets_work-submit {
    width: 100vw;
    margin-top: 5%;
    margin-bottom: 3%;
    align-self: center;
    padding: 5%;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 25px;
    background-color: var(--lavender-web);
    border: none;
    border-radius: 12px;
    transition: all 0.2s;
    align-self: center;
}

.lets_work-submit:active {
    background-color: aqua;
    scale: 105%;
}

.lets_work-img {
    background-color: var(--electric-blue);
    width: 45%;
    align-self: center;
    height: 120px;
    margin-bottom: 10%;
}

.lets_work-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


.lets_work-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 15%;
}


.lets_work-form input {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--lavender-web);
    font-family: var(--font-family);
    height: 24px;
    text-anchor: end;
    font-size: 93%;
    margin-left: 10%;
    transition-duration: 0.66s;
}

.lets_work-form input:focus {
    border-color: var(--electric-blue) !important;
    outline: none;
    margin-left: 0%;
}


@media screen and (min-width:1024px) {
    .lets_work-form_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lets_work-section {
        height: 90vh;
        display: flex;
        row-gap: 8px;
        padding-top: 20%;
        padding-bottom: 20%;
        margin-bottom: 5%;
    }
    
    .lets_work-title {
        margin-bottom: 1%;
        text-align: center;
    }

    .lets_work-legend {
        margin-bottom: 5%;
    }

    
    .lets_work-img {
        background-color: var(--electric-blue);
        width: 128px;
        align-self: center;
        height: 128px;
        margin-bottom: 5%;
    }

    .lets_work-form {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-bottom: 3%;
        width: 100%;
    }

    .lets_work-submit {
        width: 50%;
        margin-top: 1%;
        padding: 3%;
    }
    
}
