
.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 34px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
