.header-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    line-height: 34px;
    row-gap: 24px;
    animation-timing-function: ease-in-out;
    background-image: url(./blue-astra.png);
    background-repeat: no-repeat;   
    background-size: cover; 
    background-position: left;
}

.header-container::after {
    content: "";
    position: absolute;
    background-image: url(./asteroids-first-pla-1080x720.png);
    background-position: center;
    background-size: contain;
    width: 97vw;
    display: flex;
    height: 100vh;
}

.header-container_legend {
    color: var(--star-white-sub);
    font-size: 24px;
    width: 20%;
    animation: descShowUp 2s;
}

.header-container p {
    animation: descShowUp 2s;
}

@keyframes descShowUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}