.header-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    line-height: 34px;
    row-gap: 24px;
    animation-timing-function: ease-in-out;
}

.header-container_legend {
    color: var(--star-white-sub);
    font-size: 24px;
    width: 20%;
    animation: descShowUp 2s;
}

.header-container p {
    animation: descShowUp 2s;
}

@keyframes descShowUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}