
.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 34px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    row-gap: 20px;
    
}


.header-container_legend {
  animation: descFadeIn 2s;
}


@keyframes fadeInY {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes descFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
