
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

h1 {
    font-size: 160%;
    color: var(--white);
    margin-bottom: 6%;
    font-weight: 600;
}

h2 {
    font-size: 140%;
    color: var(--lavender-web);
    margin-bottom: 2%;
    font-weight: 500;
}

legend {
    color: var(--lavender-web);
    margin-bottom: 1.5%;
}

body {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 130%;
    }
    
    body {
        row-gap: 20vh;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 140%;
    }

    h2 {
        font-size: 120%;
    }
    
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 120%;
    }

    h2 {
        font-size: 100%;
    }
    
}

body {
    padding: 0% 5%;
}

.header-container p {
    font-size: 85%;
}

.header-container p {
    font-size: 85%;
}