

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


body {
    background: url(/public/images/blue-astra.png) var(--deep-space-blue);
    background-repeat: no-repeat;
    font-family: "Pixelify Sans", sans-serif;
    color: var(--electric-blue);
    font-size: 150%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 160%;
    color: var(--white);
    margin-bottom: 6%;
    font-weight: 600;
}

h2 {
    font-size: 140%;
    color: var(--lavender-web);
    margin-bottom: 2%;
    font-weight: 500;
}

legend {
    color: var(--lavender-web);
    margin-bottom: 1.5%;
}

main {
    padding: 0% 5%;
    /* width: 100vw; */
    justify-content: center;
} 

@media screen and (max-width: 400px) {
    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 130%;
    }
    
    body {
        row-gap: 20vh;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 140%;
    }

    h2 {
        font-size: 120%;
    }
    
}

@media screen and (max-width: 414px) {
    h1 {
        font-size: 120%;
    }

    h2 {
        font-size: 110%;
    }

    
}



.header-container p {
    font-size: 85%;
}

.header-container p {
    font-size: 85%;
}

:root{
    --electric-blue: #00e5ff;
    --white: #ffffffff;
    --lavender-web: #d6e7ff;
    --penn-blue: #00265b;
    --oxford-blue: #0c0c2e;
    --deep-space-blue: #020410;
    --font-family: "Pixelify Sans", sans-serif;
    --top-bar-size-adjust: 86px;
    --carrousel-animation-timing: 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --carrousel-animation-timing-after: 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
@media screen and (min-width:1024px) {
    :root {
        --top-bar-size-adjust: 35%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
