
.navigation_container {
    position: fixed;
    left: 0%;
    height: 20%;
    z-index: 1;
}

.navigation_container--links {
    z-index: 0;
}

.navigation_container--links a {
    list-style: none;
    text-decoration: none;
}

.navigation_container--links a:visited {
    color: aqua;
}


.navigation_bar {
    background-color: var(--deep-space-blue);
    position: fixed;
    top: 0px;
    height: var(--top-bar-size-adjust);
    width: 100%;
    z-index: -1;
}


@media screen and (min-width: 1200px) {
    .navigation_container {
        position: fixed;
        width: 100%;
    }

    .navigation_container--links {
        display: flex;
        margin-top: 2%;
        justify-content: space-around;
    }

    .navigation_container--links a:hover {
        color: var(--deep-space-blue);
        background-color: var(--electric-blue);
        padding: 3px;
        border-radius: 3px;
        box-shadow: var(--electric-blue) 0px 7px 29px 0px;
    }
    

    .navigation_container--button {
        display: none;
    }
    .navigation_bar-text {
        display: none;
    }
}




@media screen and (max-width:400px){
    .navigation_container {
        position: fixed;
        left: 0%;
        height: 20%;
        z-index: 1;
    }

    .navigation_bar {
        background-color: var(--deep-space-blue);
        position: fixed;
        top: 0px;
        height: var(--top-bar-size-adjust);
        width: 100%;
    }

    .navigation_bar-text {
        position: fixed;
        top: 4%;
        left: 42%;
        text-align: center;
        right: 8%;
        font-size: 18px;
    }

    .navigation_container--button {
        background-color: transparent;
        position: fixed;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        line-height: 0px;
        align-items: center;
        border: 0px;
        top: 1.5%;
        left: 4%;
        border-radius: 15px;
        border: 2px solid ;
    }

    .navigation_container--button:active {
        background-color: var(--electric-blue);
        color: var(--deep-space-blue);
    }

    .navigation_container--button--inactive {
        color: var(--electric-blue);
        font-size: 20px;
    }

    .navigation_container--links {
        background-color: var(--oxford-blue);
        position: fixed;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-self: center;
        line-height: 26px;
        row-gap: 24px;
    }

    .navigation_container--links a {
        padding-left: 25%;
    } 

    .navigation_container--links a:active {
        background-color: black;
    }

    .navigation_container--links--inactive {
        right: 100%;
        transition-property: all;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
    }

    .navigation_container--links--active {
        animation: links_activation 0.25s ease-in-out;
        right: 26%;
    }

    @keyframes links_activation {
        0% {
            right: 100%
        }
        100% {
            right: 26%;
        }
    }
}