.side_popup {
    position: fixed;
    width: 20%;
    z-index: 2;
    padding: 2%;
    top:5%;
    text-align: left;
}

.success {
    background-color: rgb(0, 85, 52);
}

.failed {
    background-color: rgb(133, 10, 10);
}

@media screen and (max-width:320px) {
    .side_popup {
        width: 60%;
        padding: 5%;
    }

    
    .side_popup--deactivated {
        left: 100%;
        animation-timing-function: ease-in-out;
    }

    .side_popup--active {
        left: 100%;
        animation-name: slide-notification-320;
        animation-timing-function: ease-in-out;
    }

    @keyframes slide-notification-320 {
        0% {
            left:100%
        }
    
        15% {
            left: 35%
        }
    
        85% {
            left: 35%;
        }
    
        90% {
            left: 100%;
        }
    }
}

@media screen and (min-width:1024px) {
    .side_popup--active {
        left: 100%;
        animation-name: slide-notification-1024;
        animation-timing-function: ease-in-out;
    }
    
    .side_popup--deactivated {
        left: 100%;
        animation-timing-function: ease-in-out;
    }

    @keyframes slide-notification-1024 {
        0% {
            left:100%
        }
    
        15% {
            left: 65%
        }
    
        85% {
            left: 65%;
        }
    
        90% {
            left: 100%;
        }
    }    
}
