.findme_container h2 {
    margin-bottom: 15%;
}
.findme_container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.findme_container--label {
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    height: 19%;
    column-gap: 25px;
}

.findme_container--item {
    background-color: var(--penn-blue);
    height: 70px;
    flex: auto;
}

.findme_container--text {
    background-color: aquamarine;
    flex: 33%;
    height: 70px;
}