.navigation_container {
    position: fixed;
    display: flex;
    height: 12vh;
    column-gap: 25%;
    width: 100vw;
    z-index: 3;
    background-color: var(--deep-space-blue);
    animation: navBarPopup 1.2s ease-in-out;
}

.navigation_container--deactivated {
    position: fixed;
    display: flex;
    height: 12vh;
    column-gap: 25%;
    width: 100vw;
    z-index: 3;
    background-color: var(--deep-space-blue);
    animation: navBarPopup 1.2s ease-in-out;
}

@keyframes navBarPopup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes navBarfadeOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.navigation_container--button {
    display: none;
}

.navigation_bar {
    justify-content: center;
    flex:50%;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.navigation_bar-text {
    text-align: center;
}

.navigation_container--links {
    display: flex;
    flex: 50%;
    padding-top: 14px;
    align-items: center;
    column-gap: 54px;
    justify-content: end;
    padding-right: 7%;
}

.navigation_container--links a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    padding: 2%;
    border-radius: 10px;
}

.navigation_container--links a:visited {
    color: var(--medium-slate-blue);
}

.navigation_container--links a:hover {
    background-color: var(--russian-violet);
    color: var(--star-white);
}

#work_with_me--link {
    background-color: var(--russian-violet);
}

@media screen and (max-width:480px) {
    .navigation_container {
        position: fixed;
        column-gap: 15%;
        z-index: 3;
        top: 0px;
    }

    .navigation_container--button {
        display: flex;
        position: fixed;
        z-index: 3;
        background-color: var(--lapis-lazuli);
        color: var(--aqua);
        left: 15px;
        top: 15px;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 5px;
        padding-top: 0.7%;
    }

    .navigation_container--links {
        position: absolute;
        background-color: var(--oxford-blue);
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        width: 250px;
        padding: 10% 0%;
        top: 0;
        left: -100%;
        padding-top: 0%;
    }

    .navigation_container--links--inactive {
        transition: 1s all;
    }

    .navigation_container--links--active {
        left: 0%;
        transition: 1s all;
    }
    
}