
/* All styles in this page are from generic types, that means its used in all parts of website */

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Micro+5&family=Parkinsans:wght@300..800&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --oxford-blue: #0c0c2eff;
    --lapis-lazuli: #0057a9ff;
    --aqua: #30ffffff;
    --medium-slate-blue: #9c6eff;
    --russian-violet: #230949ff;
    --deep-space-blue: #02040e;
    --star-white: #ecf4ff;
    --star-white-sub: #cfe3ff;
    --word-popup-font-size: 56px;
}

@media only screen and (max-width:480px) {
    :root {
        --word-popup-font-size: 46px
    }
}

body {
    background-color: var(--deep-space-blue);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--aqua);
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    overflow-x: hidden;
}


main {
    display: flex;
    flex-direction: column;
    row-gap: 250px;
    overflow-x: hidden;
}

h1 {
    color: var(--star-white);
    letter-spacing: 3px;
    font-weight: 700;
}

@keyframes fadeInY {
    from {
        opacity: 0;
        transform: translateY(20% );
    }

    95% {
        transform: translateY(-5%);
    }

    97% {
        transform: translateY(-2%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-animation--visible {
    opacity: 1;
    animation: fadeInY 0.5s ease-in-out;
}


.scroll-animation--hidden {
    opacity: 0;
}

.language_context_button {
    position: fixed;
    background-color: var(--medium-slate-blue);
    width:50px;
    height: 50px;
    z-index: 999;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    border-style: none;
    
}