.carrousel_container--covered {
    height: 50%;
    width: 100%;
    display: flex;
    flex-basis: content;
}

.carrousel_item {
    display: flex;
    color: var(--deep-space-blue);
    background-color: var(--electric-blue);
    height: 30%;
    flex-direction: column;
    width: 25%;
    padding: 2%;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    row-gap: 12px;
}

.carrousel_item h3 {
    font-size: 34px;
    font-weight: 600;
}

.carrousel_item a {
    background-color: var(--oxford-blue);
    padding: 8%;
    border-radius: 15px;
    text-decoration: none;
}

.carrousel_item a:visited {
    color: var(--electric-blue);
}

.carrousel_item a:active {
    background-color: var(--pen-blue);
}

@media screen and (max-width:414px) {
    .carrousel_container--covered {
        width: 100vw;
        overflow: scroll;
    }

    .carrousel_item {
        width: 50%;
        padding: 12%;
    }
}